<% include ../../partials/header %>

<script>
    $(document).ready(start)


    function start() {
        var book_id = "<%= book._id %>"
        var url = '/api/books/' + book_id + '/comments'
        $.ajax({
            url: url, 
            success: loadComments
        })
    }

    function loadComments(data) {
        console.log(data)
        $("#comments").empty()
        $.each(data, loadComment)
    }

    function loadComment(index, comment) {
        var html = "<div id='comment_" + comment._id + "'>"

        html += "<strong class='user_" + comment.user + "'></strong>"

        html += "<p>" + comment.text + "</p>"

        $("#comments").append(html)

        var user_id = comment.user

        var url = '/api/users/' + user_id

        $.ajax({
            url: url,
            success: loadUser
        })
    }

    function loadUser(user) {
        var query = '.user_' + user._id

        var html = user.first_name + ' ' + user.last_name

        $(query).html(html)
    }


</script>
<div class='col-md-8'>
    <h1 id='name'><%= book.name %> </h1>
    <h4 id='author_name'><i><%= book.author.name %></i></h4>

    <%- book.summary %>

    <h3 id='description'>Description</h3>
    <!--<hr/>-->

    <%- book.description %>

    <h3>Comments</h3>
    <!--<hr/>-->

    <div id='comments' style='padding-top:20px'>

    </div>

    
    <% if (user != null) { %>
        <form method='POST'>
            <input type='hidden' name='user_id' value='<%= user._id %>'>
            <input type='hidden' name='book_id' value='<%= book._id %>'>
            <textarea class='form-control comment' name='text'></textarea>  
            <button class='btn btn-primary' type='submit'>Add comment</button>
        </form>
    <% } %>

</div>

<div class='col-md-4'>
    <table>
        <tr>
            <img class='img img-responsive' style='width:100%;' 
            src='http://awoiaf.westeros.org/images/thumb/9/93/AGameOfThrones.jpg/200px-AGameOfThrones.jpg'>
        </tr>

        <tr>
            <table class='table'>
                <tr>
                    <td>Name: </td>
                    <td><%= book.name %></td>
                </tr>
                <tr>
                    <td>Author: </td>
                    <td><%- helpers.getAuthorLink(book.author) %> </td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <Td><%= book.price %></td>
                </tr>
                <tr>
                    <% if (user && user.is_admin) { %>
                    <tr >
                        <td colspan='2'>
                        <div align='center'>
                            <a href='<%= helpers.getBookEditUrl(book._id)%>' class='btn btn-default form-control'>Edit</a>
                        </div>
                        </td>
                    </tr>
                    <% } %>
                </tr>
            </table>
        </tr>
    </table>

</div>

<% include ../../partials/footer %>